body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #3498db; /* Aumenta el grosor de la línea azul */
    padding: 20px;
}

header img {
    max-width: 150px;
    max-height: 150px;
}

div {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 8px;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form input#password {
    margin-top: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

div a {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #3498db;
}
